body {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #8DB899;
}

.fundo {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        width: 100vw;
        background: linear-gradient(45deg, #152e1a, transparent);
}

.container {
        flex-direction: column;
        display: flex;
        background-color: rgb(34, 84, 60);
        border-radius: 5%;
        height: 55%;
        width: 30%;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 0.5%;
        background: linear-gradient(45deg, #70e28f, transparent);
}



.container input {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 3%;
        border-radius: 10px;
        border-width: 4px;
        border-color: black;
        height: 3vh;
        width: 15vw;
}

.container h2 {
        margin-top: -1%;
        font-size: 1.8vw;
}

.container p {
        display: flex;
        margin-top: auto;
}


.container button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border-width: 3px;
        width: 6vw;
        height: 4vh;
        background-color: black;
        color: white;
        margin-left: 70px;

}

.container button:hover {
        background-color: white;
        color: black;
        opacity: 0.20s;
}



.container p {
        margin-top: 0%;
}

.container a {
        color: black;
}

.container a:hover {
        color: white;
}

.logo {
        display: flex;
        align-items: start;
        justify-content: start;
        text-align: start;
        width: 100%;
        font-size: 1.3vw;
        margin-top: -50px;
}

.logo a{
        text-decoration: none;
        color: white;
    }
    
    .logo a:hover{
        opacity: 1s;
    }

    .loading-div {
        width: 50px;
        display: none;
      }
      
      .loading-div img {
        height: 50px;
        width: 50px;
      }

      #div_erros_login {
        display: none
      }
      
      /* FORMULARIO */
      
      .alerta_erro{
        display: flex;
        
      }
    
      .alerta_erro  .card_erro {
        display: none;
        margin-top: -170px;
        
      }
      
      .card_erro {
        display: none;
        background-color: #86f296;
        color: black;
        width: 230px;
        position: fixed;
        border-radius: 30px;
        border: green 3px solid;
        padding: 20px;
        
        
      }
      
      .card_erro #mensagem_erro{
        font-weight: 500;
        font-size: 20px;
      }