* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #8DB899;
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    background-attachment: fixed; /* Mantém o background fixo durante o scroll */
    overflow-x: hidden; /* Evita a rolagem horizontal */
}

header {
    width: 100%;
    height: 10%;
    padding: 0 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    transition: all 1s ease;
    transform: translateY(-20%);
    background-color: #4E855D;
    box-sizing: border-box; /* Certifica-se que padding não aumenta a largura total */
    border-bottom: 2px solid white;
    background: linear-gradient(45deg, #628c6c, transparent);
    
}

header:hover {
    transform: translateY(0);
}

.titulo {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;
}

nav {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

nav ul {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: #ffffff;
}

ul li {
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}

nav a:hover {
    transition: 0.5s;
    opacity: 0.7;
    font-size: 22px;
}

.content {
    height: 2000px; /* Para criar um scroll vertical no exemplo */
}

.imagemPrincipal {
    display: flex;
    max-width: 400px;
    margin-left: 200px;
    transition: transform 0.5s ease; /* Transição suave */
    transform: scale(1);
}

.imagemPrincipal:hover {
    transform: scale(1.2); /* Aumenta o tamanho da imagem */
}

.container {
    width: 80%;
    display: flex;
    box-sizing: border-box; /* Certifica-se que padding não aumenta a largura total */
    margin: 0 auto; /* Centraliza o container */
}

.header .container {
    display: flex;
    justify-content: space-between;
    background-color: #4E855D;
    margin-left: 10%;
    
}

.banner {
    background-position: right bottom;
    height: 645px;
    color: azure;
    text-align: center;
   background: linear-gradient(45deg, #3d724b, transparent);
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    font-size: 30px;
    margin-left: 50px;
}

.social {
    background-color: #4E855D;
    height: 950px;
}

.social .container {
    align-items: baseline;
    height: 90%;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
}

.social .container .relatoFutebol {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
}

.mensagemFutebol h2 {
    display: flex;
    margin-left: 200px;
    margin-top: -200px;
    text-align: start;
    line-height: 1.5;  /* Adiciona espaçamento entre as linhas */
    margin-bottom: 20px; /* Espaço abaixo do título */
    color: white;
}

.mensagemFutebol p {
    display: flex;
    width: 500px;
    font-size: medium;
    margin-top: -10px;
    text-align: start;
    margin-left: 200px;
    line-height: 1.5;  /* Adiciona espaçamento entre as linhas */
    margin-bottom: 20px; /* Espaço abaixo do parágrafo */
    padding: 5px;  /* Espaço dentro do parágrafo */
    letter-spacing: 0.5px; /* Espaço entre as letras */
    color: white;
}

.mensagemFutebol .negrito{
    font-weight: bold;
    
}


.social .container .relatoFutebol {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imagemCampo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    flex-direction: column;
    transition: transform 1s ease; /* Transição suave */
    transform: scale(1);
}

.imagemCampo:hover {
    transform: scale(1); /* Aumenta o tamanho da imagem */
    transition: 1s;
}

.imagemCampo img {
    display: flex;
    max-width: 450px;
    margin-top: 100px;
    margin-left: 750px;
    width: 400px;
}

.imagemSaude {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    flex-direction: column;
    transition: transform 1s ease; /* Transição suave */
    transform: scale(1);
}

.imagemSaude:hover {
    transform: scale(1); /* Aumenta o tamanho da imagem */
    transition: 1s;
}

.imagemSaude img {
    display: flex;
    max-width: 380px;
    margin-left: 250px;
    margin-top: -80px;
}

.social .container .relatoSaude {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mensagemSaude h2 {
    display: flex;
    text-align: start;
    justify-content: center;
    margin-left: 750px;
    margin-top: -350px;
    line-height: 1.5;  /* Adiciona espaçamento entre as linhas */
    margin-bottom: 20px; /* Espaço abaixo do título */
    color: white;
}

.mensagemSaude p {
    display: flex;
    justify-content: center;
    text-align: right;
    font-size: medium;
    margin-left: 750px;
    width: 400px;
    line-height: 1.5;  /* Adiciona espaçamento entre as linhas */
    margin-bottom: 10px; /* Espaço abaixo do parágrafo */
    padding: 5px;  /* Espaço dentro do parágrafo */
    letter-spacing: 0.5px; /* Espaço entre as letras */
    color: white;
}

.social .relato {
    display: flex;
    background-color: #8DB899;
    color: white;
    height: 560px;
}

.relato{
    background: linear-gradient(45deg, #3d724b, transparent);;
}

.controle {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-left: 400px;
    margin-top: -100px;
}

.controle h2 {
    display: flex;
}

.controle p {
    display: flex;
    font-size: larger;
    width: 505px;
    margin-top: 10px;
    text-align: center;
}

.imagemJK {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 110px;
    flex-direction: column;
    margin-left: 550px;
}

.imagemJK img {
    display: flex;
    max-width: 300px;
    margin-top: 194px;
}

.social .usuario {
    height: 100vh;
    width: 100%;
    background-color: #4E855D;
}

.escrever {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.escrever h2{
    margin-top: 150px;
   width: 300px;
   color: white;
}

.questionario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 90px;
    flex-direction: column;
}

.questionario img {
    height: 23vh;
    transition: transform 0.5s ease; /* Transição suave */
transform: scale(1);
cursor: pointer;
margin-top: 10px;
}


img:hover {
transform: scale(1.2); /* Aumenta o tamanho da imagem */
}

.questionario h5{
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.footer {
    display: flex;
    background-color: #c3f3cf;
    height: 50px;
}

.mensagemFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 450px;
}

